@{
    ViewData["Title"] = "VistaLAN - overzicht";
}

@model OverviewModel

@* Header *@
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <p class="navbar-brand">Overzicht</p>
            <a class="navbar-text" asp-area="" asp-controller="Home" asp-action="Index">Terug</a>
        </div>
    </nav>
</header>

@* Content *@
<div class="text-center">
    <div class="flex-form">
        <form>
            <div class="flex-container" style="margin-bottom: 10px;">
                <p>Alleen onbetaalde deelnemers tonen?</p>
                <input type="checkbox" name="OnlyUnpaidParticipants" value="true" checked="@Model.OnlyUnpaidParticipants" style="margin: 4px 0px 0px 0px" />
            </div>
            <input type="hidden" name="ModelExists" value="1" />
            <input type="submit" value="Pagina opnieuw laden" style="margin-bottom: 15px;" />
        </form>
        <table class="flex-table">
            <tr>
                <th>Id</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Leerlingnummer</th>
                <th>Klas</th>
                <th>Telefoonnummer</th>
                <th>Console?</th>
                <th>Console details</th>
                <th>Computer?</th>
                <th>Computer details</th>
                <th>Al betaald?</th>
                <th>Betaal</th>
                <th>Verwijder</th>
            </tr>
            @if (Model.ParticipantList != null && Model.ParticipantList.Count != 0)
            {
                foreach (Participant participant in Model.ParticipantList)
                {
                <tr>
                    <td style="width: 20px;">@participant.Id</td>
                    <td>@participant.FirstName</td>
                    <td>@participant.LastName</td>
                    <td>@participant.StudentNumber</td>
                    <td>@participant.StudentClass</td>
                    <td>@participant.PhoneNumber</td>
                    <td><input type="checkbox" checked="@participant.BringsConsole" disabled="disabled" /></td>
                    <td>@participant.ConsoleDetails</td>
                    <td><input type="checkbox" checked="@participant.BringsComputer" disabled="disabled" /></td>
                    <td>@participant.ComputerDetails</td>
                    <td><input type="checkbox" checked="@participant.HasPaid" disabled="disabled" /></td>
                    <td>@Html.ActionLink("Betaal", "UpdateParticipantStatus", "Home", new { UpdatedParticipantId = participant.Id, OnlyUnpaidParticipants = Model.OnlyUnpaidParticipants }, new { onclick = "return confirm('Weet je zeker dat " + participant.FirstName + " " + participant.LastName + " betaald heeft?')" })</td>
                    <td>@Html.ActionLink("Verwijder", "DeleteParticipant", "Home", new { DeletedParticipantId = participant.Id, OnlyUnpaidParticipants = Model.OnlyUnpaidParticipants }, new { onclick = "return confirm('Weet je zeker dat je " + participant.FirstName + " " + participant.LastName + " wil verwijderen?')" })</td>
                    @* <td><input type="button" onclick="location.href='@Url.Action("UpdateParticipantStatus", "Home")?UpdatedParticipantId=@participant.Id&OnlyUnpaidParticipants=@Model.OnlyUnpaidParticipants'" value="Betaal" /></td> *@
                    @* <td><input type="button" asp-action="DeleteParticipant" asp-controller="Home" onclick="return confirm('Weet je zeker dat je @participant.Id wil verwijderen?')" value="Verwijder" /></td> *@
                </tr>
                }
            }
        </table>
    </div>
</div>