@{
    ViewData["Title"] = "VISTA LAN - Overzicht";
}

@model OverviewModel

@* Content *@
<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="title">OVERZICHT</h1>
        <div>
            <form>
                <input style="float: left; margin-top: 8px;" type="checkbox" name="OnlyUnpaidParticipants" value="true" checked="@Model.OnlyUnpaidParticipants" />
                <input style="float: right; margin-right: 550px; width: 200px;" type="submit" value="Pagina opnieuw laden" />
                <h3 class="text" style="margin-left: 25px;">Alleen onbetaalde deelnemers tonen?</h3>
                <input type="hidden" name="ModelExists" value="1" />
            </form>
        </div>
        @if (Model.ParticipantList != null && Model.ParticipantList.Count != 0)
        {
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Voornaam</th>
                        <th scope="col">Achternaam</th>
                        <th scope="col">Leerlingnummer</th>
                        <th scope="col">Klas</th>
                        <th scope="col">Telefoonnummer</th>
                        <th scope="col">Console?</th>
                        <th scope="col">Info</th>
                        <th scope="col">Computer?</th>
                        <th scope="col">Info</th>
                        <th scope="col">Betaald?</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Participant participant in Model.ParticipantList)
                    {
                        <tr>
                            <th scope="row">@participant.Id</th>
                            <td>@participant.FirstName</td>
                            <td>@participant.LastName</td>
                            <td>@participant.StudentNumber</td>
                            <td>@participant.StudentClass</td>
                            <td>@participant.PhoneNumber</td>
                            @if (participant.BringsConsole)
                            {
                                <td class="table-success" style="color: black; text-align: center;">Ja</td>
                            }
                            else
                            {
                                <td class="table-warning" style="color: black; text-align: center;">Nee</td>
                            }
                            <td>@participant.ConsoleDetails</td>
                            @if (participant.BringsComputer)
                            {
                                <td class="table-success" style="color: black; text-align: center;">Ja</td>
                            }
                            else
                            {
                                <td class="table-warning" style="color: black; text-align: center;">Nee</td>
                            }
                            <td>@participant.ComputerDetails</td>
                            @if (participant.HasPaid)
                            {
                                <td class="table-success" style="color: black; text-align: center;">Ja</td>
                            }
                            else
                            {
                                <td class="table-danger" style="color: black; text-align: center;">Nee</td>
                            }
                            <td>@Html.ActionLink("Betaal", "UpdateParticipantStatus", "Home", new { UpdatedParticipantId = participant.Id, OnlyUnpaidParticipants = Model.OnlyUnpaidParticipants }, new { onclick = "return confirm('Weet je zeker dat " + participant.FirstName + " " + participant.LastName + " betaald heeft?')" })</td>
                            <td>@Html.ActionLink("Verwijder", "DeleteParticipant", "Home", new { DeletedParticipantId = participant.Id, OnlyUnpaidParticipants = Model.OnlyUnpaidParticipants }, new { onclick = "return confirm('Weet je zeker dat je " + participant.FirstName + " " + participant.LastName + " wil verwijderen?')" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3 class="text" style="margin-left: 25px;">Er zijn geen deelnemers gevonden.</h3>
        }
    </div>
</div>